@{
    ViewData["Title"] = "Sílvia Cosméticos";
}

<div >
    <h1>Seja bem vindo a Sílvia Cosméticos!</h1>
</div>

<h2>Faça seu login</h2>

<div>
    <form method="get" action="/produto/entrar">
        <label>Nome</label><br />
        <input type="text" name="Nome" placeholder="Use apenas caracteres" required /><br />

        <label>Senha</label><br />
        <input type="password" name="Senha" required /><br />

        <label>Email</label><br />
        <input type="text" name="Email" required /><br />

        <input type="submit" value="Entrar" />
    </form>
    <br />
    Ainda não possui cadastro?

    <form method="post" action="/produto/PreUsuario">        
        <input type="submit" value="Não" />
    </form>
</div>
