
<div>
    <h2>Vamos recadastrar seu produto!</h2>

    <form method="get" action="/produto/EditarProduto">

        <label>Qual nome do novo seu produto? </label>
        <input type="text" placeholder="Malbec, Kaiak" name="Nome" /><br />

        <label>Qual marca do seu novo produto? </label>
        <input type="text" placeholder="Natura, Avon" name="Marca" /><br />

        <label>Qual o tipo do novo produto? </label>
        <input type="text" placeholder="Perfume, shampoo" name="Tipo" /><br />

        <label>Valor: </label>
        <input type="text" name="Valor" /><br />

        <label>Quantidade: </label>
        <input type="text" name="Quantidade" /><br />

        <input type="hidden" value="@ViewData["valor"]" name="Id">
        <input type="submit" value="salvar alterações" />
    </form>   
</div>