<h2> Usuario deletado com sucesso!</h2>

<div>
    <h3><strong>Gostaria de realizar mais alguma operação?</strong></h3>

    <form method="get" action="/produto/PreUsuario">
        <il>Cadastrar novo Usuario</il> <input type="submit" value=">" />
    </form>

    <form method="get" action="/produto/ListarUsuarios">
        <il>Editar</il> <input type="submit" value=">" />
    </form>

    <form method="get" action="/produto/listarusuario">
        <il>Deletar novo Usuario</il> <input type="submit" value=">" />
    </form>

    <form method="get" action="/produto/fim">
        <input type="submit" value="Não, obrigado" />
    </form>

</div>