@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h2>Vamos recadastrar seu produto!</h2>

    <form method="post" action="/produto/editar">

        <label>Qual nome do novo seu produto? </label>
        <input type="text" placeholder="Malbec, Kaiak" name="Nome" /><br />

        <label>Qual marca do seu novo produto? </label>
        <input type="text" placeholder="Natura, Avon" name="Marca" /><br />

        <label>Qual o tipo do novo produto? </label>
        <input type="text" placeholder="Perfume, shampoo" name="Tipo" /><br />

        <label>Valor: </label>
        <input type="text" placeholder="100, 200" name="Valor" /><br />

        <label>Quantidade: </label>
        <input type="text" placeholder="60, 44" name="Quantidade" /><br />

        <input type="hidden" value="@ViewData["valor"]" name="id">
        <input type="submit" value="salvar alterações" />
    </form>   
</div>