
<h1>Olá preencha os campos para entrar na sua conta.</h1>

<form method="get" action="/produto/PreCadastro">

    <label>Usuário</label><br />
    <input type="text" required /><br />

    <label>Email</label>
    <input type="submit" name="Email" placeholder="meunome@hotmail.com" required /><br />

    <label>Senha</label><br />
    <input type="text" required /><br />

    <input type="submit" value="Entrar" />
</form>